
h1 { 
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 0; 
    padding: 0;
    text-align: center;
}

h2 { 
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageheader {
    border: 10px;
    border-radius: 10px;
}
